<app-navbar></app-navbar>
<br />
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="card-title"><h4>Products</h4></div>
      <form [formGroup]="productForm" (ngSubmit)="save()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <br />
        <div class="form-group">
          <label for="description">Description</label>
          <textarea name="" id="description" formControlName="description" rows="3" class="form-control"></textarea>
        </div>
        <br />
        <button class="btn btn-primary" [disabled]="productForm.invalid">Save</button>
      </form>
    </div>
  </div>
</div>

<br />

<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="card-title"><h4>List Products</h4></div>
      <table class="table">
        <thead>
          <th>Name</th>
          <th>Action</th>
        </thead>
        <tr *ngFor="let product of products">
          <td>{{product.name}}</td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
